<!-- create a new idea, has a form for title and body, as well as information about how to create an idea -->
<!-- <h1>Create an Idea</h1> -->
<!-- <em>There will be text here about how to create an idea.</em>
 -->

<%= form_for :idea, url: ideas_path do |f| %>
  <fieldset>
    <legend>Share Your Idea</legend>
  <%= render "shared/errors" %>
  <%= f.label :title "what's your awesome idea??"%>
  <%= f.text_field :title %>

  <%= f.label :description "Tell us all about it!"%>
  <%= f.text_area :description %>

  <%= f.submit "Create" %>
</fieldset>
<% end %>
