<!-- create a new idea, has a form for title and body, as well as information about how to create an idea -->
<h1>Create an Idea</h1>
<em>There will be text here about how to create an idea.</em>

<%= render "shared/errors" %>

<%= form_for :idea, url: ideas_path do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :description %>:
  <%= f.text_area :description %>

  <%= f.submit "Share Your Idea" %>
<% end %>
