<h1>Log In</h1>
<% if @errors %>
  <p><%= @errors %></p>
<% end %>

<%= form_for :user do |f| %>
  <%= f.label :username %>:
  <%= f.text_field :username %><br />

  <%= f.label :password %>:
  <%= f.password_field :password %><br />

  <%= f.submit "Log In" %>
<% end %>
